.navigation {
  text-align: center;

  &__direction {
    position: absolute;
    bottom: 1em;
    z-index: 1;

    &.is-prev {
      left: 1em;
    }

    &.is-next {
      right: 1em;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__link {
    display: block;
    padding: .5em;
    border-bottom: 1px dashed $color-blue;
    opacity: .5;
    background: $color-white;
    font-size: .5em;
    color: $color-blue;
    text-decoration: none;

    &:not(:first-child) {
      margin-top: 1em;
    }

    .is-prev & {

      &::before {
        content: '<';
        margin-right: .25em;
      }
    }

    .is-next & {

      &::after {
        content: '>';
        margin-left: .25em;
      }
    }
  }

  &__vendor {
    display: inline-block;
    font-size: .5em;
    text-decoration: none;

    &:not(:first-child) {
      margin-left: 3em;
    }
  }
}