// Paths

$path-fonts: "../../fonts/";
$path-images: "../assets/images/";

// Colors

$color-black: #191919;
$color-white: #fff;
$color-blue: #3d76cc;

$festal: #fe57a1;

$color-primary-hover: #c42e1a;
$color-background: #f3f3f3;

$html5-tags: "summary", "summary-styled", "dialog", "dialog-styled", "meter", "meter-styled", "meter-styled-webkit", "progress", "progress-indeterminate", "progress-styled", "progress-styled-webkit", "progress-styled-firefox", "progress-styled-edge", "audio", "audio-styled", "video", "video-styled";
$input-types: "text", "text-styled", "password", "password-styled", "file", "file-styled", "button", "button-styled", "search", "search-styled", "number", "number-styled", "range", "range-styled", "range-datalist", "time", "time-styled", "date", "date-styled", "color", "color-styled";
$pages: "page-start", "page-intro", "page-content-start", "page-content-end", "page-outro", "page-final";
$categories: "input", "html5";

// Dimensions

$menu-width: 300px;